:root {
  --primary: #103056;
}
body {
  font-family: "open-sans", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 15rem;
}

h1,
h2,
h3,
.card-body > .card-body,
.title {
  font-family: "Lobster", cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay > .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: var(--primary);
  padding: 20px 0;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 20rem;
  }
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, var(--primary), #3046c5);
  color: white;
}

.jumbotron h2 {
  color: #cec8ff;
}

.navbar-dark {
  background-color: #103056;
}

.homeImage {
  background-image: url("https://zurichwalkthetalk.files.wordpress.com/2019/12/img_20191113_193217_1.jpg");
  height: fit-content;
  width: 100%;
  background-size: cover;
  filter: grayscale(50%);
}

.item {
  background-color: rgb(210, 233, 255);
}
